/* VARIABLES */
:root {
    /* Colors */
    --primary-color: #C8553D;
    --secondary-color-light: #588B8B;
    --secondary-color-dark: #297373;
    --text-dark: #39393A;
    --text-light: #E6E6E6;
    --background-gray-light: #E6E6E6;
    --background-gray-dark: #D9D9D9;
}


/* PAGE STRUCTURE */
body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px minmax(calc(100vh - 80px), 1fr) 20px;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    font-family: "Signika Negative", sans-serif;
}

/* HEADER */
.header-wrapper {
    grid-area: header;
    background-color: var(--primary-color);
    height: auto;
    font-family: "Young Serif", serif;
}

/* SIDEBAR */
.sidebar-wrapper {
    font-family: "Young Serif", serif;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    background-color: var(--secondary-color-light);
}

/* Sidebar toggle button */
.sidebar-toggle {
    position: absolute;
    left: 200px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: var(--primary-color);
    color: var(--text-light);
    border-radius: 12px;
    padding: 10px;
}

/* Collapsed sidebar styling */
.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

/* Custom styling for sidebar nav links */
.sidebar .nav-item.nav-link {
    transition: background-color 0.2s ease;
    color: var(--text-light);
}

.sidebar .nav-item.nav-link:hover {
    background-color: var(--secondary-color-dark);
    font-weight: 600;
}

/* MAIN CONTENT */
.main-wrapper {
    grid-area: main;
}

/* FOOTER */
.footer-wrapper {
    grid-area: footer;
    background-color: var(--primary-color);
}