/* VARIABLES */
:root {
    /* Colors */
    --primary-color: #C8553D;
    --secondary-color-light: #588B8B;
    --secondary-color-dark: #297373;
    --dark-gray: #1A1A1A;
    --medium-gray: #505050;
    --light-gray: #b5b5b5;
    --background-dark: #d1d1d1;
    --background-dark: #d1d1d1;
    --background-light: #E6E6E6;
    --background-white: #F8F8F8;

    /* Measurements */
    /* Font Size */
    --font-sm: 0.75rem;
    --font-mdsm: 0.9rem;
    --font-mdlg: 1.2rem;
    --fontlg: 1.5rem;
    --fontxl: 2rem;
    /* Radius */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    /* Margin */
    --margin-xs: 6px;
    --margin-sm: 12px;
    --margin-mdsm: 18px;
    --margin-md: 24px;
    --margin-mdlg: 30px;
    --margin-lg: 36px;
    --margin-xl: 48px;
    /* Padding */
    --padding-xs: 2px;
    --padding-sm: 4px;
    --padding-mdsm: 6px;
    --padding-md: 8px;
    --padding-mdlg: 12px;
    --padding-lg: 16px;
    --padding-xl: 24px;
}

/* PROFILE PAGE */
.profile-layout {
    font-size: var(--font-mdlg);
    background-color: var(--background-dark);
    padding: 30px;
    border-radius: 12px;
    font-size: var(--font-mdlg);
    background-color: var(--background-dark);
    padding: 30px;
    border-radius: 12px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: stretch;
    align-items: stretch;
    gap: var(--margin-md);
    height: 80vh;
}



.profile-info {
    position: relative;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-sm);
    width: 35%;
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    background-color: var(--background-light);
    display: flex;
}
 

.profile-pfp-container {
    margin-top: 5vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* Adjusted border-radius for a perfect circle */
    background-color: var(--background-white);
    border: var(--secondary-color-dark) 4px solid;
    padding: 3px;
    margin-bottom: 5px;
}

#profile-pfp-img {
    width: 100%;
}


.edit-profile-button {
    position: absolute;
    right: 15px;
    font-size: 16px;
}

.edit-profile-button:hover {
    background-color: #A54A33;
}

.profile-listings {
    min-height: 100%;
    width: 65%;
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    color: white;
    text-align: center;
    background-color: var(--secondary-color-dark);
}

.logout-button {
    margin-top: 5vh;
    background-color: var(--secondary-color-dark);
    color: var(--background-white);
    transition: background-color 0.2s ease;
}

.logout-button:hover {
    background-color: darkred;
}

.profile-info figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-link {
    position: absolute;
    bottom: 10px;
}

figcaption {
    min-width: 10vw;
    padding: 2px 15px 2px 15px;
    margin-top: 5px;
    background-color: var(--background-dark);
    border-radius: var(--radius-lg);

}

#profile-custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-listings {
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.profile-listings::-webkit-scrollbar {
    width: 0;
}

.profile-listings h4 {
    margin-bottom: 10px;
}

.listing {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.listing-item {
    width: calc(50% - 10px); 
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
}

.listing-card {
    margin-top: 4vh;
}