/* VARIABLES */
:root {
    /* Colors */
    --primary-color: #C8553D;
    --secondary-color-light: #588B8B;
    --secondary-color-dark: #297373;
    --dark-gray: #1A1A1A;
    --medium-gray: #505050;
    --light-gray: #b5b5b5;
    --background-dark: #D9D9D9;
    --background-light: #E6E6E6;
    --background-white: #F8F8F8;

    /* Measurements */
    /* Font Size */
    --font-sm: 0.75rem;
    --font-mdsm: 0.9rem;
    --font-mdlg: 1.2rem;
    --fontlg: 1.5rem;
    --fontxl: 2rem;
    /* Radius */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    /* Margin */
    --margin-xs: 6px;
    --margin-sm: 12px;
    --margin-mdsm: 18px;
    --margin-md: 24px;
    --margin-mdlg: 30px;
    --margin-lg: 36px;
    --margin-xl: 48px;
    /* Padding */
    --padding-xs: 2px;
    --padding-sm: 4px;
    --padding-mdsm: 6px;
    --padding-md: 8px;
    --padding-mdlg: 12px;
    --padding-lg: 16px;
    --padding-xl: 24px;
}

/* PROFILE PAGE */

.profile-layout {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: start;
    gap: var(--margin-md);
    height: 80vh;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-sm);
    min-height: 100%;
    width: 35%;
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    background-color: var(--background-light);
}

/* .profile-image {
    background-color: var(--background-dark);
    height: 120px;
    width: 120px; */
/*Adjust values when implementing dynamic html*/
/* border-radius: 50%;
    padding: 8px;
} */

.profile-pfp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--background-light);
    border: var(--secondary-color-dark) 3px solid;
    padding-bottom: 3px;
}

#profile-pfp-img {
    width: 85%;
}

.profile-bio {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 30vh;
    padding: var(--padding-md);
    background-color: white;
    border-radius: var(--radius-md);
}

.profile-bio p {
    text-align: left;
}

.edit-profile-button {
    padding: 10px;
    background-color: #C8553D;
    /* Updated background color */
    color: #fff;
    /* White text color */
    border: none;
    border-radius: 12px;
    /* Rounded edges */
    cursor: pointer;
}

.edit-profile-button:hover {
    background-color: #A54A33;
    /* Updated background color on hover */
}

.profile-listings {
    min-height: 100%;
    width: 65%;
    padding: var(--padding-lg);
    border-radius: var(--radius-lg);
    color: white;
    text-align: center;
    background-color: var(--secondary-color-dark);
}