/* VARIABLES */
:root {
    /* Colors */
    --primary-color: #C8553D;
    --secondary-color-light: #588B8B;
    --secondary-color-dark: #297373;
    --text-dark: #1A1A1A;
    --text-medium: #505050;
    --text-light: #E6E6E6;
    --background-white: #F9F9F9;
    --background-gray-light: #E6E6E6;
    --background-gray-dark: #D9D9D9;
    --button-Tangerine: #F28F3B;
    --button-Jet: #39393A;

    /* Measurements */
    /* Font Size */
    --font-sm: 0.75rem;
    --font-mdsm: 0.9rem;
    --font-mdlg: 1.2rem;
    --fontlg: 1.5rem;
    --fontxl: 2rem;
    /* Radius */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    /* Margin */
    --margin-xs: 6px;
    --margin-sm: 12px;
    --margin-mdsm: 18px;
    --margin-md: 24px;
    --margin-mdlg: 30px;
    --margin-lg: 36px;
    --margin-xl: 48px;
    /* Padding */
    --padding-xs: 2px;
    --padding-sm: 4px;
    --padding-mdsm: 6px;
    --padding-md: 8px;
    --padding-mdlg: 12px;
    --padding-lg: 16px;
    --padding-xl: 24px;
}

form {
    margin-top: var(--margin-md);
    min-width: 30%;
}

form.default-form {
    width: fit-content;
}

div.password-recommendations {
    margin-top: var(--margin-xs);
    font-size: var(--font-sm);
    color: var(--text-medium);
}

span.is-member {
    font-weight: 600;
    font-size: var(--font-mdlg);
}

#log-in {
    color: var(--primary-color);
    font-weight: 600;
    transition: color 0.2s ease;
}

#log-in:hover {
    color: var(--secondary-color-light);
}