<!-- listing_card.html -->
<!-- CSS for listing card is defined in ~/app/static/css/main.css -->
<!-- FIELDS:
    image_url: image from database (or local file path for testing)
    title: plain text
    price: float
    description: plain text
-->

<div class="listing-card">
    <div class="listing-card-image-container">
        <img class="listing-card-image" src="{{ image_url }}" alt="{{ title }}">
    </div>
    <div class="listing-card-title">{{ title }}</div>
    <div class="listing-card-price">${{ price }}</div>
    <div class="listing-card-description">{{ description }}</div>
</div>