{% extends "template.html" %}

{% block head %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-oEa8+2GX7lSJZM8s0z85K5JVFiKuO+6t9mafcGd5Jz9urXdr8+flJ2oBd46LO5ww" crossorigin="anonymous"></script>
<!-- above is the masonry cdn for bootstrap, it will make the community page look like an instagram explore page and also responsive-->
<link rel="stylesheet" href="/static/css/community.css">
<script src="https://kit.fontawesome.com/44f358a1d7.js" crossorigin="anonymous"></script>


{% endblock %}
{% block content %}


<h2>
    {{post_content}}
</h2>

<hr class = "border border-muted border-1 opacity-75">

<div class="card rounded  mx-2 bg-light text-secondary">
    <div class="row justify-content-center">
        <div class = "col-md-9 justify-content-center">
            <div id="carouselExampleSlidesOnly" class="rounded img-fluid" data-ride="carousel">
                    <img class="d-block float-end" src="{{photo_url}}" alt="First slide"  width="75%" height=" 75%">
            </div>
        </div>  
    </div>
</div>  

<div>
<form action="{{url_for('user.user_singleton', username=owner_username, _method='POST')}}">
    <button class = "custom-button2 "id = "custom-button2">{{owner_username}}'s page</button>
</form>
</div class = "mb-2">
<div>
    {% if owner == true %}
    <form action="{{url_for('community.delete_post', community_post_id=community_post_id|int, _method='POST')}}">
        <div class="mt-3 text-secondary">
            
            <button class="custom-button2 mb-2 rounded text-white">Delete Post</button>
        </div>
    </form>
    {% else %}

        
    <div>
        <form action = '/community_like' method = 'POST'>
        {% if liked == true %}
            <button class = "btn">
                <i class="fa-solid fa-heart"></i>
            </button>
                <span id = "like-count">{{likes}}</span>
        {% else %}
            <button class="btn">
                <i class="fa-regular fa-heart"></i>
            </button>
                <span id = "like-count">{{likes}}</span>
        {% endif %}

            <input type = "hidden" name="community_post_id" value="{{community_post_id}}">

        </form>
    </div>
    {% endif %}

    <h3>Comments {{com}}</h3>
    {% for tuple in comments %}

    <div class = "comment-container">
        <h4>
            <a href="{{url_for('user.user_singleton',username = tuple[1]|string,_method='POST')}}">
                {{tuple[1]}}: {{tuple[0]}}
            </a>
        </h4>
    </div>
    
    {% endfor %}

    <form action="/community_comment" method ="POST">
    <div class="form-group row">
        <button for="inputPassword" class="col-sm-2 custom-button1 rounded ml-3 ">Comment</button>
        <div class="mr-2 col-sm-8">
          <input type="text"  name ="comment" value="" required>
          <input type = "hidden" name="curr_username" value="{{curr_username}}">
          <input type = "hidden" name="community_post_id" value="{{community_post_id}}">
        </div>
      </div>
    </form>
</div>


{% endblock %}