{% extends "template.html" %}

{% block head %}

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<!-- above is the masonry cdn for bootstrap, it will make the community page look like an instagram explore page and also responsive-->
<link rel="stylesheet" href="/static/css/community.css">
{% endblock %}
{% block content %}

<!--TODO implement user sessions so content can be dynamiclly generated when they scroll at the bottom of the page
and limit the amount of posts so that get requests don't get to be too much
The main issue is that -->
<h2>
    Community
</h2>

<hr class = "border border-muted border-1 opacity-75">
<div class="span">
    <div class="custom-container ml-2">
        <div class ="row" data-masonry='{"percentPositon" : true}'>
            <div class ="card-columns" id = "post-container">
                   <!-- this is where the html will be generated-->
                   {% for item in community_data %}
                <div class="card community-container h-100" style="height: 200px; object-fit: cover;">
                    <a href="#">
                        <img class="card-img" src="{{item[2]}}" alt="Card image cap">
                    </a>
                    <div class="card-img-overlay">

                        <div class="card-block">

                                <a href="{{url_for('community.community_post_', community_post_id=(item[1]|int), _method='POST')}}">
                                <p class="card-text">{{ item[0] }}</p>
                            </a>
                        </div>


                    </div>
                </div>
                    {% endfor %}

            </div>
        </div>
        <form action="/new_community_post" method = "POST">
            <div class="sticky">
                <button class="custom-post-button" name="button"type="submit">+</button>
            </div>
        </form>
    </div>
    
</div>
    
    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src ="static/scripts/infScroll.js"></script>
    


{% endblock %}