

<!-- Send this to the community page and append it to the end-->
<!--TODO fix broken link to post-->

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<link rel="stylesheet" href="/static/css/community.css">


        {% for item in data %}
        <div class="card community-container" style="width: fit-content; height: fit-content;">
            <a href="#">
                <img class="card-img" src="https://placehold.co/400x400/png" alt="Card image cap">
            </a>
            <div class="card-img-overlay">
            
            <p class="card-text">{{ item }}</p>
            </div>
        </div>        
        {% endfor %}

    
