{% extends "template.html" %}

{% block head %}
<!-- <link rel="stylesheet" href="../static/css/<YOUR STYLESHEET HERE>"> -->
{% endblock %}

{% block content %}
{% if username %}
<h1>Welcome, {{ username }}!</h1>
{% endif %}
<h2>Temporary links</h2>
<ul>
    <li><a href="/profile" class="link">Profile</a> (pfp in upper right currently links here)</li>
    <li><a href="/user" class="link">User</a> (don't need in sidebar b/c it will only be accessed when viewing the profile of another user, i.e. clicking their username in a listing they posted)</li>
    <li><a href="/signup" class="link">Sign Up</a> (currently accessible thru 'Sign Up!' link at bottom of form on login page)</li>
    <li><a href="/settings" class="link">Settings</a> TODO: make this available on 'user' page</li>
</ul>
{% endblock %}
