<div class="listing-card">
    <div class="listing-card-image-container">
        <img class="listing-card-image" src="{{ url_for('static', filename = 'user_images/' + listing.album.photos[-1].photo_url) }}">
    </div>
    <div class="listing-card-row">
        <div class="listing-card-tp-container">
            <div class="listing-card-title">{{ listing.title }}</div>
            <div class="listing-card-price">${{ listing.price }}</div>
        </div>
        <div class="listing-card-lp-container">
            <a href="{{ url_for('user.user_singleton_id', user_id=listing.user.user_id) }}" class="listing-card-pfp-container">
                <!-- TODO: populate pfp with actual user pfp 
                    will require creating user pfps as Photo instances with photo_url, 
                    linking to folder in project 
                -->
                <img src="../static/images/default-profile.png" alt="" class="listing-card-pfp">
            </a>
            <button class="like-button button button-secondary"><img src="../static/images/like.png" alt="Like Button" class="like-icon"></button>
        </div>
    </div>
    <div class="listing-card-description">{{ listing.description[:90] }}{% if listing.description|length > 80 %}...{% endif %}</div>
    {% if listing.user.username == session['username'] %}
    <div class="buttons-container">
        <form action="{{ url_for('index.edit_listing', listing_id = listing.listing_id) }}" method="GET">
            <button class="listing-button button button-secondary"><img src="../static/images/edit.png" alt="Edit Button" class="listing-icon"></button>
        </form>
        <form action="{{ url_for('index.delete_listing', listing_id = listing.listing_id) }}" method="POST" class="delete-form">
            <button class="listing-button button button-secondary"><img src="../static/images/delete.png" alt="Delete Button" class="listing-icon"></button>
        </form>
    </div>
    {% endif %}
</div>