<!-- PROFILE PAGE -->
{% extends "template.html" %}

{% block head %}
<!-- <link rel="stylesheet" href="../static/css/<YOUR STYLESHEET HERE>"> -->
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
</head>
<main>
    <div class="profile-layout">
        <div class="profile-info">
            <figure>
                <img class="profile-image" src="../static/images/profileTemp.png" alt="Profile image">
                <!-- TODO implement pull from server -->
            </figure>
            <caption><strong>username</strong></caption> <!-- TODO implement pull from server -->
            <br>
            <div class="profile-bio">
                <p>Bio</p>
                <div class="profile-bio-desc">
                    <p>This is my bio</p> <!-- TODO implement pull from server -->
                </div>
            </div>
            <br>
            <button class="edit-profile-button">Edit Profile</button> <!-- TODO implement push to server and refresh page-->
        </div>
        <div class="profile-listings"> <!-- TODO implement pull from server page and scrollbar css-->
            <h4>Your Listings</h4>
        </div>
    </div>
</main>
{% endblock %}