{% extends "template.html" %}
{% block head %}
<!-- <link rel="stylesheet" href="../static/css/<YOUR STYLESHEET HERE>"> -->
<link rel="stylesheet" href="../static/css/signup.css">
{% endblock %}
{% block content %}
<h1>Sign Up</h1>
<div>
    <form method="post" action="/create" class="default-form">
        <div class="form-field">
            <label for="username" class="form-label">Username</label>
            <input class="form-text" type="text" name="username" placeholder="Enter username">
        </div>
        <div class="form-field">
            <label class="form-label" for="email">Email</label>
            <input class="form-text" type="email" name="email" placeholder="example@mail.com">
        </div>
        <div class="form-field">
            <label class="form-label" for="password">Create a password</label>
            <input class="form-text" type="password" name="password" placeholder="Enter password">
            <div class="password-recommendations">
                Tips for choosing a secure password
                <ul>
                    <li>Minimum 12 characters in length</li>
                    <li>At least one uppercase letter</li>
                    <li>At least one lowercase letter</li>
                    <li>At least one number</li>
                    <li>At least one special character</li>
                </ul>
            </div>
        </div>
        <button type="submit">Sign Up</button>
        <hr class="form-hr">
        <span class="is-member">Trying to log in?</span>
        <a href="/login" id="log-in">Login Page</a>
    </form>
</div>

{% endblock content %}