<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600;700&family=Young+Serif&display=swap" rel="stylesheet">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>       
    </header>
    <div class="sidebar-wrapper">
        <!-- Sidebar toggle button -->
        <button class="sidebar-toggle">&lt;</button>
        
        <!-- Sidebar -->
        <nav class="sidebar">
            <ul class="list-unstyled components">
                <li><a href="#" class="nav-item nav-link h5">Home</a></li>
                <li><a href="#" class="nav-item nav-link h5">Marketplace</a></li>
                <li><a href="#" class="nav-item nav-link h5">Community</a></li>
                <li><a href="#" class="nav-item nav-link h5">Create Listing</a></li>
                <li><a href="#" class="nav-item nav-link h5">Contact</a></li>
                <li><a href="#" class="nav-item nav-link h5">Settings</a></li>
                <li><a href="#" class="nav-item nav-link h5">Login</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- SIDEBAR TOGGLE SCRIPT -->
    <script>
        document.querySelector('.sidebar-toggle').addEventListener('click', function() {
            const sidebar = document.querySelector('.sidebar');
            const isCollapsed = sidebar.style.width === '0px';
            sidebar.style.width = isCollapsed ? '200px' : '0px'; // Toggle width between 0px and 200px
            this.textContent = isCollapsed ? '>' : '<'; // Change button text
            document.querySelector('.main-content-wrapper').style.marginLeft = isCollapsed ? '200px' : '0';
        });
    </script>    

</body>
</html>