<!-- USER PAGE -->
{% extends "template.html" %}

{% block head %}
<!-- <link rel="stylesheet" href="../static/css/<YOUR STYLESHEET HERE>"> -->
{% endblock %}

{% block content %}
</head>
<body>
    {% if username == None %}
    <header>
        <h1>Basic user info</h1>
    </header>
    {% else %}
    <header>
        <h1>Page for: {{username}}</h1>
    </header>
    {% endif %}
    <main>
        <h2>More detailed info possibly including details about purchases</h2>
    </main>
    <footer>
        <h2>Contact info</h2>
    </footer>
{% endblock %}